<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/static/css/login.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <p id="header">ACCOUNT LOGIN</p>
    <div class="data-container">
        <form th:action="@{/auth}" th:method="POST">
            <div class="user-data">
                <input class="field" placeholder="username" type="text" name="username" id="field-username">
                <input class="field" placeholder="password" type="password" name="password" id="field-password">
            </div>
            <input type="submit" value="SIGN IN" id="sign-in">
        </form>
    </div>

    <!-- VK -->
    <script src="https://vk.com/js/api/openapi.js?169" type="text/javascript"></script>
    <!-- Put this script tag to the <head> of your page -->
    <script
            type="text/javascript"
            src="https://vk.com/js/api/openapi.js?168"
            charset="windows-1251"
    ></script>
    <script type="text/javascript">
        VK.init({ apiId: 8217510 });
    </script>

    <!-- Put this script tag to the place, where the Login block will be -->
    <div id="vk_auth"></div>
    <script type="text/javascript">
        VK.Widgets.Auth("vk_auth", {authUrl: "/auth/vk"});
    </script>
    <!-- VK -->
</div>

<script src="/static/js/login.js"></script>
</body>
</html>