<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Photo</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div class="top-panel">
    <p><b id="bubble-text">HELP ME CHOOSE A PHOTO</b></p>
    <button id="login" th:if="${anon}">LOGIN</button>
    <form th:if="${!anon}" action="/logout" method="post">
        <input type="submit" value="LOGOUT">
    </form>
</div>

<div class="profile">
    <img id="ava" alt src="https://sun2-9.userapi.com/s/v1/ig2/xpMT7UkpF4z-D0IGstWsns1sv_TZMBePM5iDhU1S2AmdRMwbyOVrtBX0Ov3LKLnMVRE-MQkFoSeU0sNe98KewwzQ.jpg?size=200x200&quality=95&crop=161,132,393,393&ava=1">
    <script>
        let params = new URLSearchParams(window.location.search);
        let path = params.get("path");
        if(path != null)
            document.getElementById("ava").src = path;
    </script>
    <div class="profile-panel">
        <a id="name">Женя Матеюк</a>
        <div th:if="${!anon}">
            <form method="post" enctype="multipart/form-data" action="/upload/n/photo" id="upload_photo">
                <label for="file" class="hint"><u>Загрузить новую аву</u></label>
                <input type="file" style="opacity: 0;" name="file" id="file" accept=".jpg">
            </form>
        </div>
        <a class="hint" th:if="${anon}">Войдите, чтобы загрузить фотографию</a>
    </div>
</div>

<script src="/static/js/jquery/jquery-3.6.0.min.js"></script>
<script src="/static/js/jquery/jquery.bubble.text.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>